<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <div class="w3-container">
        <h3>Resultat:</h3>
    </div>
    <div class="w3-container">
        <table class="w3-table w3-table-all w3-small">
            <center>
                <h1> Quadrimestres totals en acabar = {{ resultat }}</h1>
                <img src={{imatge}} width="50%" height="50%">
            </center>
    </div>
</body>